.component {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    width: 60%;
    background-color: #404040;
    color: white;
}

.header_container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid grey;
    color: white;
    padding: 0 1.5rem;
}

.header_container button {
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: red;
    padding: 0.5rem 1rem;
}

.header_container button:hover {
    filter: hue-rotate(20deg);
}

.component ul {
    height: 80%;
}

.meso_li {
    position: relative;
    padding: 0.5rem 1.5rem;
    list-style: none;
    cursor: pointer;
}
.meso_li::after { /* For bottom border that starts slightly away from the left edge */
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 0;
    height: 0.5px;
    background-color: grey;
}
.meso_li:hover {
    background-color: #525252;
}
.meso_li_na {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    list-style: none;
}
  
.li_duration, .li_created {
    font-size: 0.8rem;
    color: rgb(166, 166, 166);
}