.component {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #1e1e1e;
}

.main_content_container {
    height: auto;
    width: calc(100% - 250px);
    margin-left: 250px;
}
