.component {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    background-color: #1e1e1e;
}

.main_content_container {
    height: auto;
    width: calc(100% - 250px);
    margin-left: 250px;
}

@media (max-width: 850px) {
    .main_content_container {
      width: 100%;
      margin-left: 0;
      padding-bottom: calc(57px + constant(safe-area-inset-bottom)); /* nav panel hight + old iOS safe area */
      padding-bottom: calc(57px + env(safe-area-inset-bottom)); /* nav panel hight + modern iOS safe area */
    }
  }
