.component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #191919;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    background-color: #333333;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.header {
    color: green;
}

.sub_header {
    font-size: 1rem;
    color: white;
}

.error {
    font-size: 1rem;
    color: red;
}

.auth_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.auth_form input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.auth_form input::placeholder {
    font-size: 1rem;
}

.auth_form .sign_in_button { 
    padding: 0.3rem 1rem;
}

.signin_divider {
    border-color: grey;
    width: 80%;
}

.toggle_form_button {
    padding: 0.3rem 1rem;
}