.component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    background-color: #1e1e1e;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    background-color: #333333;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.header {
    color: green;
}

.sub_header {
    font-size: 1rem;
    color: white;
}

.error {
    font-size: 0.8rem;
    color: red;
}

.auth_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.auth_form input {
    width: 300px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.auth_form input::placeholder {
    font-size: 1rem;
}

.pwInput_showPwBtn_container {
    position: relative;
    display: flex;
}

.showPasswordBtn {
    position: absolute;
    right: 0.75rem;
    background: none;
    font-size: 1rem;
    height: 100%;
    border: none;
}

.auth_form .sign_in_button { 
    color: white;
    background-color: green;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}
.auth_form .sign_in_button:hover {
    filter: brightness(1.2);
}

.signin_divider {
    border-color: grey;
    width: 80%;
}

.toggle_form_button {
    color: white;
    background-color: green;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}
.toggle_form_button:hover {
    filter: brightness(1.2);
}

/* For custom drop-down design for language dropdown */
.dropdown_container {
    width: fit-content;
    position: relative;
    display: flex;
    background-color: #1e1e1e;
    border-radius: 3px;
    cursor: pointer;
    margin: 0.5rem 0;
    padding: 0 0.3rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.dropdown_container .select {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0.3rem 2rem 0.3rem 1rem;
    cursor: pointer;
    appearance: none; /* To delete default (poorly positioned) down arrow */
}
.dropdown_container .faAngleDown_container {
    /* faAngleDown to replace default with */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2rem;
    top: 0;
    right: 0;
    color: white;
    pointer-events: none; /* Needed for custom down arrow replacement */
}


/* For mobile, because differnt styles get applied to buttons on mobile: */
@media (max-width: 480px) {
  .sign_in_button {
    all: unset;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
  }
  .sign_in_button:active {
    opacity: 0.8;
  }
  .toggle_form_button {
    all: unset;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  .toggle_form_button:active {
    opacity: 0.8;
  }

}

