.left_panel {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #404040;
}

.header {
    color: green;
    padding: 1rem;
}

.nav_list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    color: white;
}

.nav_list li {
    list-style-type: none;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}
.nav_list li:hover {
    background-color: #525252;
}


.left_panel a {
    text-decoration: none;
    color: inherit;
}

.left_panel button {
    all: unset;
    width: 100%;
    cursor: pointer;   
}

.left_panel a, .left_panel button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.text_desktop {
    display: unset;
}

.text_mobile {
    display: none;
}

.active {
    background-color: #525252;
}

@media (max-width: 850px) {
    .left_panel {
        display: flex;
        bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: constant(safe-area-inset-bottom); /* For old iOS */
        padding-bottom: env(safe-area-inset-bottom); /* For modern iOS */
        height: fit-content;
        min-height: 57px;
        width: 100%;
        border-top: 0.5px solid grey;
	background-color: #404040;
    }

    .header {
        display: none;
    }

    .nav_list {
        flex-direction: row;
        width: 100%;
        padding: unset;
    }

    .nav_list li {
        height: 100%;
        color: grey;
        font-size: 0.8rem;
    }
    .nav_list li:hover {
	    background-color: transparent;
    }

    .left_panel a, .left_panel button {
        flex-direction: column;
        justify-content: center;
        height: 100%;;
        padding: unset;
        -webkit-tap-highlight-color: transparent; /* Disable default grey highlighting when active */
    }

    .text_desktop {
        display: none;
    }
    
    .text_mobile {
        display: unset;
    }

    .nav_list li .active {
        background-color: transparent;
        color: white;
    }

}
