.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    padding: 1rem 0;
}

@media (max-width: 480px) {
    .component {
        padding-top: 0
    }
}
