.component {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 485px;
    max-width: 730px;
    background-color: #333333;;
    border: 1px solid grey;
    padding: 0.3rem;
}

.main_content_div {
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0 0.3rem;
}

.week_col {
    flex: 1 1 0; /* each column shrinks/grows evenly */
    min-width: 0;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header_cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.header_cell div { /* week sublabel */
    font-size: 1rem;
}

.btn_col {
    display: flex;
    flex-direction: column;
}

.btn_day {
    width: auto;
    max-width: 100%;
    border: 1px solid transparent; /* Prevents button hover jitter */
    font-size: 0.7rem;
    background-color: #292929;
    color: white;
    margin-top: 0.2rem;
    padding: 0.4rem;
    container-type: inline-size; /* Enables @container queries on each .btn_day */
}
.btn_day:hover {
    border: 1px solid grey;
}
.btn_day_active {
    background-color: #573331;
}
.btn_day_completed {
    background-color: #21684a;
}
.btn_day_current {
    border: 1px solid white;
}

@media (max-width: 480px) {
    .component {
        width: 100vw;
        min-width: 0;
    }

    .btn_day {
        padding: 1rem 0;
    }
}

/* Display differnt labels depending on button width ('Monday' or 'Mo') */

.btn_long_label { display: inline; }
.btn_short_label { display: none; }

@container (max-width: 70px) {
    .btn_long_label { display: none; }
    .btn_short_label { display: inline; }
}