.component {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 60%;
    min-width: 485px;
    max-width: 730px;
    background-color: #333333;
    color: white;
    padding: 1rem;
}

.exercises_ul {
    width: 100%;;
}

.exercises_li {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 1rem;
}

.exercises_li:not(:last-child)::after { /* Grey bottom border at the bottom of each exercises, excluding the last. */
    content: "";
    position: absolute;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    height: 0.5px;
    background-color: grey;
}

.exercise_name {
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.sets_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Default is 'table-layout: auto' which sizes cols based on content (and not your CSS widths) */
}

.sets_table th, .sets_table td {
    font-weight: normal;
    text-align: center;
    padding-bottom: 1rem;
}

.th_input, .td_input {
    width: 40%;
}
.th_checkbox, .td_checkbox {
    width: 20%;
}

.sets_table input {
    border: none;
    color: white;
    background-color: #262626;
    padding: 0.4rem 1rem;
    text-align: center;
}

.checkbox_wrapper {
    display: flex;
    justify-content: center;
}

/* Rid default arrow buttons */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
    width: 1.6rem;
    height: 1.6rem;
    accent-color: green;
}

@media (max-width: 480px) {
    .component {
        min-width: 100vw;
    }

    .sets_table input[type="number"] {
        width: 6rem;
    }
    .sets_table input[type="checkbox"] {
        width: auto;
    }
}
