.component {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.top_container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: calc(100% - 250px);
    padding: 0 1rem;
    color:white;
    background-color: #1e1e1e;
}

.top_container button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 0.5rem 1rem;
}

.top_container button:hover {
    filter: hue-rotate(20deg);
}

.main_container {
    flex: 1 1 auto; /* grows to fill space / shrinks if needed / starts with content size */
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
    margin-top: 70px; /* Matches .top_container  */;
}

.main_container .addDay_button {
    width: 270px;
    min-width: 270px;
    height: 3rem;
    border: none;
    color: white;
    background-color: #323232;
    font-size: 1rem;
    transition: background-color 0.1s ease;
}
.main_container .addDay_button:hover {
    background-color: black;
}

.main_container .day_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 270px;
    min-width: 270px;
    height: fit-content;
    background-color: black;
    padding: 0.5rem;
}

.day_column .day_header {
    height: 2rem;
    display: flex;
    justify-content: space-around;
}

.day_header .dow_container {
    width: fit-content;
    position: relative;
    display: flex;
    border: 1px solid grey;
    cursor: pointer;
}

.dow_container .dow_dropdown {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0.3rem 2rem 0.3rem 1rem;
    cursor: pointer;
    appearance: none; /* To delete default (poorly positioned) down arrow */
}

.dow_container .faAngleDown_container { /* faAngleDown to replace default with */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2rem;
    right: 0;
    color: white;
    pointer-events: none; /* Needed for custom down arrow replacement */
}


.delete_btn {
    all: unset;
    cursor: pointer;
    padding: 0.25rem;
}
.delete_btn:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.faTrash_icon {
    color: white;
}

.exercise_div {
    color: white;
    background-color: #2d2d2d;
    padding: 0 1rem 1rem 1rem;
}

.exercise_toprow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.exercise_toprow label {
    background-color: rgb(0, 74, 0);
    padding: 0 0.2rem;
}



.exercise_input {
    width: 100%;
    border: 1px dashed grey;
    color: white;
    background-color: #2d2d2d;
    padding: 0.5rem;
}

.add_exercise_btn {
    border: none;
    color: white;
    background-color: #323232;
    padding: 0.5rem 0;
    font-size: 1rem;
    transition: background-color 0.1s ease;
}
.add_exercise_btn:hover {
    background-color: black;
}

/* Modal dialog */

.dialog_background {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 500px;
    height: 50%;
    color: white;
    background-color: #333333;
    padding: 1rem;
    /* Dialog display transition animation: */
    opacity: 0;
    transform: translateY(-6px) scale(0.98);
    transform-origin: top center;
    animation: dialog-animation 150ms ease-out forwards;
    will-change: transform, opacity;
}

.close_dialog_btn {
    all: unset;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.mesoname_div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mesoname_div input {
    background-color: #454545;
    border: 1px solid rgb(91, 91, 91);
    color: white;
    padding: 0.5rem 1rem;
}

.numweeks_div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.numweeks_btn_div button {
    width: 20%;
    border: 1px solid green;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 67, 0);
    padding: 0.5rem 0;
    transition: 0.1s ease;
}
.numweeks_btn_div button:hover, .numweeks_btn_div button.numweeks_btn_selected  {
    background-color: rgb(0, 106, 0);
}

.modal_hr {
    height: 0.5px;
    background-color: grey;
    border: none; 
    margin: 0 -1rem;
}

.dialog_bottom_div {
    display: flex;
    justify-content: right;
}

.cancel_btn {
    width: 20%;
    border: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin-right: 1rem;
    padding: 0.5rem 0;
    transition: 0.1s ease;
}
.cancel_btn:hover {
    background-color: #4f4f4f;
}

.create_btn {
    width: 20%;
    border: none;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 0.5rem 0;
    margin-right: 1rem;
    transition: 0.1s ease;
}
.create_btn:hover {
    filter: hue-rotate(20deg);
}

@media (max-width: 850px) {
    .top_container {
        left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .dialog_background {
        align-items: end;
    }

    .top_container {
        border-bottom: 0.5px solid grey;
    }
    .top_container h2 {
        font-size: 1.3rem;
    }
    .top_container button {
        width: 150px;
        height: 30px;
        font-size: 0.7rem;
    }

    .mesoname_div label, .numweeks_div label {
        font-size: 0.8rem;
    }
}

/* Dialog display transition animation: */
@keyframes dialog-animation {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}