.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 60%;
    background-color: #333333;
    color: white;
    padding: 1rem 2rem;
}

.container span {
    color: rgb(166, 166, 166);
}

.div_icons {
    position: relative; /* For child div (.component in WorkoutPickerDropdown.tsx) to use 'position: absoute' */
    display: flex;
    gap: 1rem;
}
.icon {
    font-size: 1.2rem;
    cursor: pointer;
}